

/* HEADER Component */

#hero {
  padding-top: 130px;
  padding-bottom: 30px;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #000;
}

#hero .hero-content {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
}

#hero a {
  margin: 5px;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

header {
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  width: 100%;
}

form {
  display: flex;
  align-items: center;
}

input[name="search"] {
  width: 60%;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select[name="rating"] {
  width: 20%;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* HEADER Component */

/* RANDOM Component */

/* RANDOM Component */

/* TRENDING Component */
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section {
  
  padding: 0px 20px;
  text-align: center;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

section .gif-list-image {
  display: inline-block;
  margin: 10px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 4px;
}


a{
  text-decoration: none;
}
h1 {
  text-align: center;
  color: #000;
}

#copyright {
  font-size: 15px;
  color: #999;
  padding-bottom: 10px;
}
/* TRENDING Component */